[submodule "topic_tools"]
	path = topic_tools
	url = https://github.com/ros-tooling/topic_tools.git

[submodule "Shelfino_ROS2"]
	path = Shelfino_ROS2
	url = https://github.com/pla10/Shelfino_ROS2.git
